body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}


header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77a6b6 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    color: #fff;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

ul li{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

    ul li:hover{
    background-color: rgb(41, 40, 40);
    color: rgb(247, 246, 246);
}

.dropdown{
    display: none;
    text-decoration: none;
}

ul li:hover .dropdown{
    display: block;
    position: absolute;
    margin-left: -0.29cm;
    margin-top: 0.27cm;
    text-decoration: none;
}

.dropdown ul{
    margin: 0px;
    padding: 0px;
}

.dropdown ul li{
    display: block;
    text-decoration: none;
}

.dropdown ul li a{
    color: #333;
    background-color: #fff;
    text-decoration: none;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 2em 0;
}

.about, .team, .mission {
    background: #fff;
    margin: 2em 0;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

.team-member {
    display: inline-block;
    width: 45%;
    margin: 2.5%;
    text-align: center;
}

.team-member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 0px 0px 2px  white;
}
